<section class="bg-fire-bubbles">
  <div class="container">
    <div class="bg-special">
      <h1>Welcome!</h1>
      <p>Judson Designs is a web application development company owned and operated by Judson Terrell and located in
        the Charlotte NC area.</p>
      <p>Judson Terrell has been doing web development for over 20 years and has worked for major companies such as
        Best Buy, Bank Of America, Astrazeneca, FOX as well as many others. Judson Terrel's work is centered around
        coding perfection as well as design that represents the true look and feel of a particular company.</p>
      <p>Judson Terrell has an exstensive portfolio which can be found by clicking the portfolio link. Here you will
        see screen shots of some of his current and previous work. If you would like to get a quote on a custom website
        or web application, please contact Judson Terrell at <a href="mailto:judson@judsondesigns.com">judson@judsondesigns.com</a></p>
    </div>
  </div>
</section>
