:host{
    .container-main{
        min-height: 367px;
        background: white;
    }
    .nav{
        background: #222222;
    }
    .nav .nav-link{
        color: #efefef;;
    }
    .nav .nav-link.active{
        color: orange;
    }
}