<div class="power-footer">
  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-angularjs.jpg" alt="judson terrell angular"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-bootstrap.jpg" alt="judson terrell bootstrap"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-coldfusion.jpg" alt="judson terrell coldfusion"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-css3.jpg" alt="judson terrell css3"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-expressjs.jpg" alt="judson terrell expressjs"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-fireworks.jpg" alt="judson terrell fireworks"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-html5.jpg" alt="judson terrell html5"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-illustrator.jpg" alt="judson terrell illustrator"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-ionic.jpg" alt="judson terrell ionic"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-jquery-mobile.jpg" alt="judson terrell jquery_mobile"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-jquery.jpg" alt="judson terrell jquery"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-microsoft.jpg" alt="judson terrell microsoft"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-mongodb.jpg" alt="judson terrell mongodb"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-mvc.jpg" alt="judson terrell technologies"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-node-js.jpg" alt="judson terrell node-js"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-photoshop.jpg" alt="judson terrell photoshop"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-sql.jpg" alt="judson terrell sql"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-visual-studio.jpg" alt="judson terrell visual-studio"/></div>
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-webstorm.jpg" alt="judson terrell webstorm"/></div> 
              <div class="img-tech"><img src="/assets/images/technologies/judson-terrell-vs-code.png" alt="judson terrell vs-code"/></div>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <h4>Site Map</h4>
              <ul>
                <li><a routerLink="home" [routerLinkActive]="['active']">Home</a></li>
                <li><a routerLink="about" [routerLinkActive]="['active']">About</a></li>
                <li><a routerLink="contact" [routerLinkActive]="['active']">Contact</a></li>
                <li><a routerLink="portfolio" [routerLinkActive]="['active']">Portfolio</a></li>
                <li><a routerLink="resources" [routerLinkActive]="['active']">Resources</a></li>
                <li><a routerLink="resume" [routerLinkActive]="['active']">Resume</a></li>
                <li><a routerLink="blog" [routerLinkActive]="['active']">Blog</a></li>
              </ul>
            </div>
            <div class="col">
              <h4>Resources</h4>
              <ul>
                <li><a href="http://www.jquery.com" target="_blank">jQuery</a></li>
                <li><a href="http://www.getbootstrap.com" target="_blank">Bootsrap</a></li>
                <li><a href="http://www.asp.net/mvc" target="_blank">.NET MVC</a></li>
                <li><a href="http://www.w3schools.com/" target="_blank">W3 Schools</a></li>
                <li><a href="http://adobe.com" target="_blank">Adobe</a></li>
                <li><a href="http://angularjs.org" target="_blank">Angular JS</a></li>
              </ul>
            </div>
            <div class="col">
              <h4>Social</h4>
              <ul>
                <li><a href="https://www.facebook.com/judsondesigns">Facebook</a></li>
                <li><a href="https://www.linkedin.com/pub/judson-terrell/67/70/206">LinkedIn</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
