<div class="power-footer">
  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="col">
          <h4>Site Map</h4>
          <ul>
            <li><a routerLink="home" [routerLinkActive]="['active']">Home</a></li>
            <li><a routerLink="about" [routerLinkActive]="['active']">About</a></li>
            <li><a routerLink="contact" [routerLinkActive]="['active']">Contact</a></li>
            <li><a routerLink="portfolio" [routerLinkActive]="['active']">Portfolio</a></li>
            <li><a routerLink="resources" [routerLinkActive]="['active']">Resources</a></li>
            <li><a routerLink="resume" [routerLinkActive]="['active']">Resume</a></li>
            <li><a routerLink="blog" [routerLinkActive]="['active']">Blog</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Resources</h4>
          <ul>
            <li><a href="http://www.jquery.com" target="_blank">jQuery</a></li>
            <li><a href="http://www.getbootstrap.com" target="_blank">Bootsrap</a></li>
            <li><a href="http://www.asp.net/mvc" target="_blank">.NET MVC</a></li>
            <li><a href="http://www.w3schools.com/" target="_blank">W3 Schools</a></li>
            <li><a href="http://adobe.com" target="_blank">Adobe</a></li>
            <li><a href="http://angularjs.org" target="_blank">Angular JS</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Social</h4>
          <ul>
            <li><a href="https://www.facebook.com/judsondesigns">Facebook</a></li>
            <li><a href="https://www.linkedin.com/pub/judson-terrell/67/70/206">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
