:host{
    .power-footer{
        background: #222222;
        width: 100%;
        padding: 10px;

        .img-tech {
            display: inline-block;
            background: white;
            width: 98px;
            height: 98px;
            border-radius: 10px;
            overflow: hidden;
            margin: 5px;

            img{
                height: 100%;
                width: 100%;
            }
        }    

        h4{
            color: #999999;
            font-size: 18px;
        }
        ul{
            list-style: none;
            padding-left: 30px !important;
        }
        ul li a{
            color: #666666;
        }
        ul li a.active{
            color: white;
        }
    }
}